<a href="@Url.Action("Locations", "AdminPanel")" class="btn btn-primary">Locations</a>
<a href="@Url.Action("Desks", "AdminPanel")" class="btn btn-primary">Desks</a>
<a href="@Url.Action("Users", "AdminPanel")" class="btn btn-primary">Users</a>