<div class="text-center">
    <h1 class="display-4">Welcome to the hot desk booking system</h1>
    <a href="@Url.Action("Register", "Account")" class="btn btn-primary">Register</a>
    <a href="@Url.Action("SignIn", "Account")" class="btn btn-primary">Sign in</a>
</div>